# Binaries
image/
bin/
server/server
client/client

# Results (User data)
results/

# Local Configuration
client.json
server.json

# OS specific
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Go

